*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#topbar{
    background-image: linear-gradient(to right, #84ceeb 0%, #59b9ea 51%, #84ceeb 100%);
    color: white;
    padding: 25px;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#links{
    display: flex;
}

.link{
    margin: 10px;
}